<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mateusz.figuryandroid">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/poslady"
        android:label="Generator Figur"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Statystyki"
            android:theme="@style/AppTheme.CustomTheme"
            > </activity>>
        <activity android:name=".ZmianaFigur" > </activity>>
    </application>

</manifest>
